.appbar{
  display: flex;
  justify-content: center;
}

.form-div{
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.form-grp{
  display: flex;
  justify-content: space-between;
}

.option-setter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.option{
  width: 600px;
  margin: 10px 20px 10px 0;
}